* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: whitesmoke;
}

.container {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#snake {
    box-shadow: 0px 0px 20px lightgray;
}

.data {
    margin-left: 100px;
}

h2 {
    margin-bottom: 30px;
    color: #999;
    font-size: 16px;
}

h1, h2, .score, .high-score {
    font-family: 'Poppins';
}